{% extends "modelo.html" %}
{% block title %}Form Cliente{% endblock %}
{% block content %}
<h1>FORMULARIO CLIENTE</h1>
<form name="usuario"method="POST" action="/addUser">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="id_usuario">ID :</label>
            <input readonly value="" type="text" name="id_usuario" id="id_usuario">
        </div>
        <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <input value="" type="text" name="nome" id="nome" autofocus="">
        </div>
    </div>
    <div class="form-group col-md-6">
        <lable for="login">Login:</lable>
        <imput value="" type="text" name="login" id="login"></imput>
    </div>
    <div class="form-group col-md-6">
        <lable for="senha">senha:</lable>
        <imput value="" type="password" name="senha" id="senha"></imput>
    </div>    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="emdereco">Endereço:</label>
            <imput value="" type="text" name="endereco" id="endereco"></imput>
        </div>
        <div class="form-group col-md-6">
            <label for="numero">Número:</label>
            <imput value="" type="text" name="numero" id="numero"></imput>
        </div>
    </div>
    <div class="form-group">
        <label for="observacao">Observação:</label>
        <imput value="" type="text" name="observacao" id="observacao"></imput>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="cep">CEP:</label>
            <imput value="" type="text" name="cep" id="cep"></imput>
        </div>
        <div class="form-group col-md-4">
            <label for="Bairro">Bairro:</label>
            <imput value="" type="text" name="bairro" id="bairro"></imput>
        </div>
        <div class="form-group col-md-4">
            <label for="Cidade">Cidade:</label>
            <imput value="" type="text" name="cidade" id="cidade"></imput>
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Estado</label>
            <imput value="" type="text" name="estado" id="estado"></imput>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="telefone">Telefone:</label>
            <imput value="" type="text" name="telefone" id="telefone"></imput>
        </div>
        <div class="form-group col-md-6">
            <label for="Email">Email:</label>
            <imput value="" type="text" name="email" id="email"></imput>
        </div>
    </div>

    <button type='submit' name="salvaNovoClienteBD" id="salvaNovoClienteBD">Salvar</button>
</form>
{% endblock %}