{% extends "modelo.html" %}
{% block title %}CLIENTE{% endblock %}
{% block content %}
<h1>Lista de Clientes</h1></br>
<a class="btn btn-primary" href="{{ url_for('cliente.formCliente') }}" role="button">Adicionar</a></br></br>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"></li>
    <li class="list-group-item">Nome</li>
    <li class="list-group-item">Endereço</li>
    <li class="list-group-item">Número</li>
    <li class="list-group-item">Observação</li>
    <li class="list-group-item">CEP</li>
    <li class="list-group-item">Bairro</li>
    <li class="list-group-item">Cidade</li>
    <li class="list-group-item">Estado</li>
    <li class="list-group-item">Telefone</li>
    <li class="list-group-item">Email</li>
  </ul></br>
{% endblock %}