{% extends "modelo.html" %}
{% block title %}Lista de Pedidos{% endblock %}
{% block content %}
<h1>Lista de Pedidos</h1></br>
<a class="btn btn-primary" href="{{ url_for('pedido.formPedido') }}" role="button">Adicionar Pedido</a></br></br>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">#</li>
    <li class="list-group-item">Telefone</li>
    <li class="list-group-item">Cliente</li>
    <li class="list-group-item">Endereço</li>
    <li class="list-group-item">Número</li>
    <li class="list-group-item">CEP</li>
    <li class="list-group-item">Bairro</li>
    <li class="list-group-item">Cidade</li>
    <li class="list-group-item">Observação</li>
    <li class="list-group-item">Data/hora</li>
    <li class="list-group-item">Produtos</li>
  </ul></br>

{% endblock %}