<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<style type="text/css">
    .important {
        color: rgb(223, 84, 50);
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block bloco %}
    <div class="container">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-md-7" style="margin-left: 20%">
                        <div class="card">
                            <div class="card-body">
                                <h1> Seja bem-vindo</h1>
                                <h5>Insira seu nome de usuario e senha para entrar.</h5>
                                <hr />
                                <form class="form-sample" novalidate method="POST" action="">
                                    {{ form.csrf_token }}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <div class="col-md-3" style="margin-left: 70%">
                                                    {{ form.login.label }}
                                                    {{ form.login }}
                                                    {% if form.login.errors %}
                                                    {% for error in form.login.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                    {% endif %}


                                                    {{ form.password.label }}
                                                    {{ form.password }}
                                                    {% if form.password.errors %}
                                                    {% for error in form.password.errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                    {% endif %}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-success mr-2" style="margin-left: 230px"> Entrar</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div class="container">
    {% endblock bloco %}
</body>

</html>