{% extends "modelo.html" %}
{% block title %}PRODUTOS{% endblock %}
{% block content %}
<h1>PRODUTOS</h1>
<form>
    <div class="form-group">
        <label for="inputObs">Código:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Código">
    </div>
    <div class="form-group">
        <label for="inputObs">Descrição do Produto:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Descrição do Produto">
    </div>
    <div class="form-group">
        <label for="inputObs">Valor:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Valor">
    </div></br>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Imagem</label>
    </div></br></br>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}