{% extends "modelo.html" %}
{% block title %}Lista de Produtos{% endblock %}
{% block content %}
<h1>Lista de Produtos</h1></br>
<a class="btn btn-primary" href="{{ url_for('produto.formProduto') }}" role="button">Adicionar Produto</a></br></br>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">#</li>
    <li class="list-group-item">Nome</li>
    <li class="list-group-item">Descrição</li>
    <li class="list-group-item">Preço</li>
    <li class="list-group-item">Imagem</li>
  </ul></br>
{% endblock %}